// --- Breakpoints ---
$breakpoint-xxl: 1400px;
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

// --- Breakpoints ---
@mixin min-sm {
  @media screen and (min-width: #{$breakpoint-sm}) {
    @content;
  }
}

@mixin min-md {
  @media screen and (min-width: #{$breakpoint-md}) {
    @content;
  }
}

@mixin min-lg {
  @media screen and (min-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin min-xl {
  @media screen and (min-width: #{$breakpoint-xl}) {
    @content;
  }
}

@mixin min-xxl {
  @media screen and (min-width: #{$breakpoint-xxl}) {
    @content;
  }
}

@mixin max-sm {
  @media screen and (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin max-md {
  @media screen and (max-width: #{$breakpoint-md - 1px}) {
    @content;
  }
}

@mixin max-lg {
  @media screen and (max-width: #{$breakpoint-lg - 1px}) {
    @content;
  }
}

@mixin max-xl {
  @media screen and (max-width: #{$breakpoint-xl - 1px}) {
    @content;
  }
}

@mixin max-xxl {
  @media screen and (max-width: #{$breakpoint-xxl - 1px}) {
    @content;
  }
}

@mixin media-between($min-width, $max-width) {
  @media screen and (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}